<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SyntaxForge</title>
    <link rel="stylesheet" href="../stylesheets/styles.css" />
  </head>
  <body class="body">
    <header>
      <h1>Welcome to SyntaxForge</h1>
    </header>
    <main>
      <h1>Hello <%= name %></h1>
      <p>This is a boilerplate HTML file.</p>
    </main>
    <footer>
      <p>&copy; 2023 SyntaxForge</p>
    </footer>
    <button class="my-button" onClick="clickHandler()">Button</button>
    <script src="../javascripts/javascript.js"></script>
  </body>
</html>
